---
name: CI/CD

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.tex'
      - 'Makefile'
      - 'requirements.tlmgr.txt'
      - 'version.txt'
  push:
    branches:
      - main
    paths:
      - '**.tex'
      - 'Makefile'
      - 'requirements.tlmgr.txt'
      - 'version.txt'
  workflow_dispatch:
    inputs:
      release:
        description: 'Create a release'
        required: true
        default: false
        type: boolean

jobs:
  build:
    # runs-on: ["self-hosted", "resume-runner"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Compile LaTeX
        id: compile
        uses: xu-cheng/latex-action@25080975331dc4fc8e6f1af55788e00f84f51fff # v4
        with:
          pre_compile: "tlmgr update --self && tlmgr install `cat requirements.tlmgr.txt`"
          root_file: Jonathan_Prentice.Resume.tex

      - name: Upload PDF
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: resume
          path: Jonathan_Prentice.Resume.pdf

  release:
    if: github.event.inputs.release == 'true'
    needs: build
    # runs-on: ["self-hosted", "resume-runner"]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Download PDF
        id: download
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: resume

      - name: Read version number
        id: version
        run: echo "::set-output name=version::$(cat version.txt)"

      - name: Create release
        id: release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          files: |
            Jonathan_Prentice.Resume.pdf
